.hero-section {
    padding: 123px 729px 156px 244px;
    background-image: linear-gradient(89.38deg,
            #FFFFFF 30.62%,
            rgba(255, 255, 255, 0.850898) 41.31%,
            rgba(255, 255, 255, 0.193204) 58.65%,
            rgba(255, 255, 255, 0) 72.78%),
        url('../images/hero-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

   &__container {
        @media screen and (max-width: 768px) {
            display: grid;
            place-items: center;
        }
    }
        
  &__title-info {
      margin-bottom: 16px; 

    @media screen and (max-width: 768px) {
         font-size: 12px;
         line-height: 1.5;
         width: 133px;
         height: 18px;
       }
  }

  &__title {
      margin-bottom: 40px;
      color: var(--color-primary-lighr);
      font-size: 140px;
      font-weight: 700;
      line-height: 0.8;

    @media screen and (max-width: 768px) {
            font-size: 54px;
            width: 330px;
            height: 46px;
        }
  }

  &__button {
     width: 238px;
     height: 103px;
     text-align: center;  
 
    /*@media screen and (max-width: 768px) {
        width: 186px;
        height: 88px;
    }*/
  }
   
  &__button-info {
      color: var(--color-secondary-gd);
      font-size: 12px;
      line-height: 1.5;

    @media screen and (max-width: 768px) {
    font-size: 11px;
    }
  }
}