.procedures-section {
    text-align: center;
    margin-bottom: 96px;


  &__container {
      display: flex;
      align-items: center;
      gap: 32px;
  }

  &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
  }

  &__item {
      width: 344px;
      height: 456px;
      flex-basis: calc((100% - 32px) / 3);
  }

}